body {
    text-align: center;
    font-family: Courier New, Courier, monospace;
}

#pageHead {
    margin: 100px auto 0px auto;

}

#questionForm{
    margin: 0px auto;
}

#questionNode {
    margin: 20px auto;
}

#btnSubmit {
    margin: 20px auto;
}



